/* font for the entire page */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

footer {
    margin-top: 20px;
    text-align: center;
}

/* getting rid of underline links */
a{
    text-decoration: none;
}

/* logo on the left, login button on the right */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

/* colorful logo */
.logo{
    color: #FF3B30;
    font-size: 2em;
    font-weight: 400;
}

/* login button effect */
.login-button{
    background-color: #007AFF;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 3px 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1em;
}

/* slight transparency when you hover over the button */
.login-button:hover{
    opacity: 80%;
}

/* removing the default browser styles and adding a flexbox, the tiles are to take up the same space */
.categories > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* the tiles should fill the entire space and be slightly transparent */
.categories > ul > li {
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 500;
    border: 2px solid;
    color: white;
    opacity: 0.8;
}


/* when you hover over a tile, remove transparency */
.categories > ul > li:hover {
    opacity: 1;
}

/* centering the text on the tiles and changing the color of the links */
.categories > ul > li > a {
    color: inherit;
    display: block;
    text-align: center;
}

/* color of the tiles */
.categories > ul > li:nth-child(3n) {
    background-color: #FF2D55;
}

.categories > ul > li:nth-child(3n+1) {
    background-color: #5856D6;
}

.categories > ul > li:nth-child(3n+2) {
    background-color: #FF9500;
}

/* frame and spacing */
.discovery {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    margin-top: 10px;
    padding: 16px;
}

.discovery-header {
    margin: 0;
}
/* font change "Added by ..." */
.discovery-details {
    color: #757575;
    font-size: 0.8rem;
}

/* link color change and wrap when too long */
.discovery-link,
.discovery-link:visited {
    color: #007AFF;
    word-wrap: break-word;
}

/* alignment and larger font */
.discovery-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

/* replacing a paragraph with a linear element */
.discovery-votes {
    display: inline;
    color: #007AFF;
}

/* overwrite default margins */
.discovery-bar > p {
    margin: 0 4px;
}

/* change the color of voting buttons on hover */
.upvote:hover {
    color: #4CD964;
}

.downvote:hover {
    color: #FF3B30;
}

/* max column width 1200px and centering */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
